@model CheeseMVC.ViewModels.AddMenuItemViewModel

    @{ 
        ViewBag.Title = "Add Item to Menu " + Model.Menu.Name;
    }

<form asp-controller="Menu" asp-action="AddItem" asp-methods="post">
    <label asp-for="CheeseID"></label>
    <select asp-for="CheeseID" asp-items="Model.Cheeses"></select>
    <span asp-validation-for="CheeseID"></span>

    <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
    <input type="submit" value="Add Cheese to Menu"/>
</form>
